{% import '@GaiaAdmin/Macro/breadcrumb.html.twig' as breadcrumb %}

{% set index_url = path(
    configuration.vars.index.route.name|default(configuration.getRouteName('index')),
    configuration.vars.index.route.parameters|default(configuration.vars.route.parameters|default({}))
    )
%}

{% set breadcrumbs = [
    { label: 'sylius.ui.administration'|trans, url: path(gaia_admin_dashboard_route) },
    { label: (metadata.applicationName~'.ui.'~metadata.pluralName)|trans, url: index_url },
    { label: resource.name|default(resource.code|default(resource.id)) },
    { label: 'sylius.ui.edit'|trans }
]
%}

{{ breadcrumb.crumble(breadcrumbs) }}