{% set index_url = path(
    configuration.vars.index.route.name|default(configuration.getRouteName('index')),
    configuration.vars.index.route.parameters|default(configuration.vars.route.parameters|default({}))
    )
%}

<div class="ui segment">
    {{ form_start(form, {'action': path(configuration.vars.route.name|default(configuration.getRouteName('create')), configuration.vars.route.parameters|default({})), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}

    {% if configuration.vars.templates.form is defined %}
        {% include configuration.vars.templates.form %}
    {% elseif configuration.parameters.has('form') and configuration.parameters.get('form').menu is defined %}
        {% include '@GaiaAdmin/Crud/_formMenu.html.twig' %}
    {% else %}
        {% include '@GaiaAdmin/Crud/_form.html.twig' %}
    {% endif %}

    {{ sylius_template_event([event_prefix ~ '.form', 'gaia_admin.create.form'], {'metadata': metadata, 'resource': resource, 'form': form}) }}

    {% include configuration.vars.templates.buttons|default('@SyliusUi/Form/Buttons/_create.html.twig') with {'paths': {'cancel': index_url}} %}

    {{ form_end(form) }}
</div>