{% macro crumble(crumbs = {}) %}
    {% import '@SyliusUi/Macro/breadcrumb.html.twig' as _breadcrumb %}

    {{ _breadcrumb.crumble(crumbs, path(gaia_admin_dashboard_route), 'sylius.ui.administration'|trans) }}
{% endmacro %}
