{% extends '@SyliusUi/Macro/buttons.html.twig' %}

{% macro transition(url, message, labeled = true, resource = null, transition = null, graph = 'default', icon = null, confirmation = true) %}
    <form action="{{ url }}" method="post">
        <input type="hidden" name="_method" value="PUT">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token(resource.id) }}" />
        <button class="ui yellow {% if labeled %}labeled {% endif %}icon button {% if sm_can(resource, transition, graph) == false %}disabled{% endif %}" type="submit" {% if confirmation == true %}data-requires-confirmation{% endif %}>
            {% if icon %}<i class="icon {{ icon }}"></i>{% endif %} {{ ((message is empty and labeled) ? 'sylius.ui.transition' : message)|trans }}
        </button>
    </form>
{% endmacro %}

{% macro delete(url, message, labeled = true, resourceId = null, icon = 'trash', disabled = false) %}
    <form action="{{ url }}" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button class="ui red {% if labeled %}labeled {% endif %} {% if disabled %}disabled {% endif %} icon button" type="submit" data-requires-confirmation {{ sylius_test_html_attribute('delete-button') }}>
            {% if icon %}<i class="icon {{ icon }}"></i>{% endif %} {{ ((message is empty and labeled) ? 'sylius.ui.delete' : message)|trans }}
        </button>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token(resourceId) }}" />
    </form>
{% endmacro %}