<div class="ui stackable two column grid">
    <div class="column">
        {% include configuration.vars.templates.header_title|default('@GaiaAdmin/Crud/Index/_headerTitle.html.twig') %}
        {% include configuration.vars.templates.breadcrumb|default('@GaiaAdmin/Crud/Index/_breadcrumb.html.twig') %}

        {{ sylius_template_event([event_prefix ~ '.header', 'gaia_admin.index.header'], _context) }}
    </div>

    {% include '@GaiaAdmin/Crud/Index/_actions.html.twig' %}
</div>
