{% extends '@GaiaAdmin/layout.html.twig' %}

{% set header = configuration.vars.header|default(metadata.applicationName~'.ui.new_'~metadata.name) %}
{% set section = configuration.section|default('admin') %}
{% set event_prefix = metadata.applicationName ~ '.' ~ section ~'.' ~ metadata.name ~ '.create' %}

{% block title %}{{ header|trans }} {{ parent() }}{% endblock %}

{% form_theme form '@SyliusUi/Form/theme.html.twig' %}

{% block content %}
    {{ sylius_template_event([event_prefix, 'gaia_admin.create'], _context) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ sylius_template_event([event_prefix ~ '.stylesheets', 'gaia_admin.create.stylesheets'], { 'metadata': metadata, 'resource': resource }) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ sylius_template_event([event_prefix ~ '.javascripts', 'gaia_admin.create.javascripts'], { 'metadata': metadata, 'resource': resource }) }}
{% endblock %}
