{% extends '@GaiaAdmin/layout.html.twig' %}

{% set definition = resources.definition %}
{% set data = resources.data %}
{% set section = configuration.section|default('admin') %}
{% set event_prefix = metadata.applicationName ~ '.' ~ section ~'.' ~ metadata.name ~ '.index' %}

{% set header = configuration.vars.header|default(metadata.applicationName~'.ui.'~metadata.pluralName) %}

{% block title %}{{ header|trans }} {{ parent() }}{% endblock %}

{% block content %}
    {{ sylius_template_event([event_prefix, 'gaia_admin.index'], _context) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ sylius_template_event([event_prefix ~ '.stylesheets', 'gaia_admin.index.stylesheets'], { 'metadata': metadata }) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ sylius_template_event([event_prefix ~ '.javascripts', 'gaia_admin.index.javascripts'], { 'metadata': metadata }) }}
{% endblock %}
